<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Keith Robinson <em>Software Developer.</em> <br/>This app is a small sample of my software development background using Rails.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Social Media Outlets</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/robbee72" target="_blank"><%= fa_icon "github" %> Github</a></li>
      <li><a href="https://www.instagram.com/?hl=en target="_blank""><%= fa_icon "instagram" %> Instagram</a></li>
      <li><a href="https://www.facebook.com/" target="_blank"><%= fa_icon "facebook" %></a> </li>
      <li><a href="https://twitter.com/?lang=en" target="_blank"><%= fa_icon "twitter" %></a> </li>
      <li><a href="https://www.youtube.com/?gl=US" target="_blank"><%= fa_icon "youtube" %></a> </li>
    </ol>
  </div>
</div>
